<h1><%= @team.name %> Roster</h1>
<ul>
  <%@team.players.each do |player|%>
     <li><%=player.name %> - <%=player.position%> - <%=player.pro_team%></li>
  <%end%>
</ul>

<br></br><br></br><br></br>
<h3><a href="/logout">Log Out</a></h3>
