<h1><%= @user.name %>'s Fantasy Teams</h1>
<h3><a href="/teams/new">Create New Team</a></h3>
<br></br>
<ul>
  <%@user.teams.each do |t|%>
     <li><a href="/teams/<%=t.slug%>"><%=t.name %></a></li>
  <%end%>
</ul>

<br></br><br></br><br></br>
<h3><a href="/logout">Log Out</a></h3>
